__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
*.egg-info/
.installed.cfg
*.egg
MANIFEST
dist/
build/
*.mo
*.pot
*.log
*.pid
*.seed
*.pid.lock
*.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
cover/
*.db
media/
node_modules/
dist/